@keyframes background{
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  35%  {background-color: orange;}
  50%  {background-color:blue;}
  65%  {background-color: pink;}
  75%  {background-color:green;}
  100% {background-color:red;}
}

.jumbotron {
  background-color: yellow;
  animation-name: background;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.jumbotron > .container {
  font-family: 'Luckiest Guy', cursive;
}

.jumbotron > .container > .title {
  font-family: 'Luckiest Guy', cursive;
  font-size: 5em;
}